<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" sizes="32x32" href="./static/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./static/icons/favicon-16x16.png">
	<!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
	<div id="app">
	</div>
	</div>
	<!-- built files will be auto injected -->
</body>
<style>
	html {
		height: 100%;
		width: 100%;
	}

	body {
		margin: 0;
		height: 100%;
		width: 100%;
	}
</style>

</html>